@charset "UTF-8";

* { margin-top: 0; padding: 0; }
a { text-decoration: none; }
ol, ul { list-style: none; }
img { max-width: 100% }
h1 { font-size: 48px; line-height: 1 }
h2 { font-size: 36px; line-height: 1.3333 }
h3 { font-size: 24px; line-height: 1 }
h4, h5, h6 {
  font-size: 16px; line-height: 1.5;
 }

header{
  text-align: center;
  /*padding-top: 24px;*/
}

header h1 {
  /*margin-bottom: 24px;*/
}

header h2{
  color: #62240b;
}

nav {
  margin-bottom: 24px;
  background-color: #7d4934;
  background: -webkit-linear-gradient(top,
    rgba(81, 24, 8, 0.71) 0%,
    rgba(91, 25, 0, 1) 100%);
  background: linear-gradient(top,
    rgba(81, 24, 8, 0.71) 0%,
    rgba(91, 25, 0, 1) 100%);
}

nav ul{
  overflow: hidden;
}

nav ul li {
  width: 25%;
  float: left;
  text-align: center;
}

nav ul li a {
  display: block;
  padding: 12px 0;
  color: #d8c2a4;
}

nav ul li a:hover{
  color: white;
  background-color: #7d4934;
}

#contents{
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

#contents p {
  text-align: left;
  margin-bottom: 24px;
}

#contents img{
  margin-bottom: 24px;
  box-shadow: 0 0 12px #000;
  min-width: 100%;
}


footer{
  color: #404040;
  text-align: center;
  padding: 24px 0;
  background-color: #F3FBDE;
}

@media screen and (min-width: 768px){
  #contents{
    text-align: left;
  }
}

@media screen  and (min-width: 1024px){
  html {
    /*background: url(12_col.jpg) repeat-y top center;*/
  }
  #contents{
    width: 93.75%; /* 全体1024px分の960pxの割合 */
    overflow: hidden;
  }

  #contents #main, #contents #sub{
    float: left;
    margin: 0 1.0416667%; /* 10/960px */
  }

  #contents #main{
    width: 64.5833333%; /* 620/960px */
  }

  #contents #sub{
    width: 31.25%; /* 300/960 */
  }

  nav ul {
    width: 93.75%;
    margin: 0 auto;
  }

  footer {
    width: 93.75%
    padding: 24px 0;
    margin: 0 auto;
  }



}



